<!DOCTYPE html>
<html>
    <head>
        <style>
            a{
                text-decoration: none;
                color: black;
            }
        </style>
        <link rel="stylesheet" href="../static/styles/loading.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/cart.css">
        <link rel="stylesheet" href="../static/styles/foot.css">
        <link rel="stylesheet" href="../static/styles/header.css">
        <title>Sri Vekateshwara Milk</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="loading-screen">
            <div class="spinner"></div>
        </div> 
        <div class="container">
            <div class="header">
                <div class="logo-div">
                    <p class="logo">SRI VENKATESHWARA MILK SUPPLIERS</p>
                </div>
            </div>
            <div class="item-div"></div>
            <div class="total">
                <h3>ORDER SUMMARY</h3>
                <h5>Total Items: <span></span></h5>
                <h4>Total price: <span></span></h4>
                <div class="POrder"><button class="placeBtn">PLACE ORDER</button></div>
            </div>
            <div class="foot">
                <a class="home-div" href="home.html">
                    <img src="../logo/home.png" class="icons" id="home-logo">
                    <p class="home">Home</p>
                </a>
                <a class="cart-div" href="cart.html" >
                    <svg class="icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#5ebec4" stroke="#5ebec4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                    <p class="cart">Cart</p>
                </a>
                <a class="account-div" href="account.html">
                    <img src="../logo/account.png" class="icons">
                    <p class="account">Account</p>
                    
                </a>
            </div>
        </div>
        <script src="../static/scripts/cart.js"></script>
        
        <script src="../static/scripts/loading.js"></script>
    </body>
</html>