<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/loading.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/sidebar.css">
        <link rel="stylesheet" href="../static/styles/products.css">
        <link rel="stylesheet" href="../static/styles/foot.css">
        <link rel="stylesheet" href="../static/styles/header.css">
        <title>Sri Vekateshwara Milk</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="loading-screen">
            <div class="spinner"></div>
        </div> 
        <div class="container">
            <div class="header">
                <div class="logo-div">
                    <p class="logo">SRI VENKATESHWARA MILK SUPPLIERS</p>
                </div>
                <div class="search-bar">
                    <input type="text" oninput="search()" class="search" id ="search" placeholder="Search">
                    <button class="searchBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100%" height="20px" viewBox="0 0 30 30">
                            <path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            
            <div class="products-div"></div>
            <div class="side-bar-div">
                <a class="cat-logo-div" href="nandini.html">
                    <img src="../logo/nandini.jpg" class="cat-logo">
                </a>
                <a class="cat-logo-div" href="dodla.html">
                    <img src="../logo/dodla.jpg" class="cat-logo" >
                </a>
                <a class="cat-logo-div" href="milk.html" style="box-shadow: inset 0 -0px 10px rgba(255, 0, 85, 0.996) ;">
                    <img src="../logo/milk.jpg" class="cat-logo" >
                </a>
                <a class="cat-logo-div" href="curd.html">
                    <img src="../logo/curd.jpg" class="cat-logo">
                </a>
                <a class="cat-logo-div" href="other.html"> 
                    <img src="../logo/other.jpg" class="cat-logo">
                </a>
            </div>
            <div class="foot">
                <a class="home-div" href="home.html">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="icons" viewBox="0,0,256,256">
                        <g fill="#ff0055" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M39.5,43h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-9c0,-1.105 -0.895,-2 -2,-2h-4c-1.105,0 -2,0.895 -2,2v9c0,1.381 -1.119,2.5 -2.5,2.5h-9c-1.381,0 -2.5,-1.119 -2.5,-2.5v-19.087c0,-2.299 1.054,-4.471 2.859,-5.893l14.212,-11.199c0.545,-0.428 1.313,-0.428 1.857,0l14.214,11.199c1.805,1.422 2.858,3.593 2.858,5.891v19.089c0,1.381 -1.119,2.5 -2.5,2.5z"></path></g></g>
                        </svg>
                    <p class="home">Home</p>
                </a>
                <a class="cart-div" href="cart.html">
                    <img src="../logo/cart.png" class="icons">
                    <p class="cart">Cart</p>
                </a>
                <a class="account-div" href="account.html">
                    <img src="../logo/account.png" class="icons">
                    <p class="account">Account</p>
                    
                </a>
            </div>
        </div>
        <script src="../static/scripts/milk-display.js"></script>
        <script src="../static/scripts/cart.js"></script>
        <script src="../static/scripts/loading.js"></script>
    </body>
</html>